* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  font-family: "Noto Serif TC", serif;
}

h2 {
  letter-spacing: 0.05em;
}
/* 文字前後對齊 */
p {
  margin-top: 1rem;
  font-size: 1.3rem;
  text-align: justify;
}

.highlight {
  font-style: normal;
  font-weight: bold;
}
/* 連結文字不斷行 */
.linkText {
  white-space: nowrap;
  /* word-break: keep-all; */
}
.nameTag .linkText {
  font-style: normal;
  text-underline-offset: -0.05rem;
}

/* 連結不變色 */
a {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

/* Header Main Banner */
.sec01 {
  width: 100%;
  height: 100vh;
  background-image: url(../../src/img/city_god_readingGirls.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  overscroll-behavior: none;
}

.mainLogo {
  width: 40vw;
  max-width: 600px;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  filter: drop-shadow(0.2rem 0.5rem 0.5rem rgb(0, 0, 0));
}

/* 誰是城隍爺 */
.sec02 {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../src/img/city_god_bk.jpg);
  background-size: cover;
  position: relative;
  z-index: 9;
  /* border: solid 5px red; */
  filter: drop-shadow(-0.2rem 0.5rem 1rem black);
}
.whoIsCityGodText {
  z-index: -1;
  position: absolute;
  height: 120vh;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  filter: drop-shadow(0.2rem 0.5rem 0.5rem rgb(0, 0, 0));
}

.whoIsCityGod_Container {
  z-index: 99;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
  padding: 2rem;
}
.whoIsCityGod_Content_left {
  padding: 2rem;
  background-color: rgb(128, 128, 128, 0.5);
}

.whoIsCityGod_Content_right {
  padding: 2rem;
  background-color: rgb(128, 128, 128, 0.5);
}

.videoContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  /* padding: 2rem 2rem 2rem 2rem; */
}
/* videoContainer set up */
.videoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player {
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.videoText {
  width: 100%;
  text-align: justify;
  color: black;
  padding: 0rem 1rem 1rem 1rem;
}
.videoText p {
  margin-top: 0rem;
  padding-top: 0rem;
  font-size: 1rem;
}

/* 爾來了 */
.divider_YouCame {
  width: 100%;
  height: 100vh;
  background-image: url(../../src/img/text_youCame.png);
  background-size: 70vw;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.youCame_text {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 40vw;
  padding: 1rem;
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: 0rem 0.5rem 0.5rem black;
}

/* 城隍爺的團隊 */

.sec03 {
  width: 100%;
  background-image: url(../../src/img/city_god_bk.jpg);
  background-size: cover;
  background-position: center;
  z-index: 99;
  box-shadow: -0.2rem 0.5rem 1rem black;
  display: grid;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  place-content: center;
  position: relative;
}

.teamNameTagsText {
  padding: 2rem 0rem;
}

.tallGuy {
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.shortGuy {
  height: 80vh;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.teamNameTagsContainer {
  position: block;
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamNameTags {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.nameTag {
  perspective: 1000px;
  background-color: transparent;
  width: 150px;
  height: 350px;
  perspective: 1000px;
}

.nameTag_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.nameTag:hover .nameTag_inner {
  transform: rotateY(180deg);
}

.nameTag_front,
.nameTag_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.nameTag_front {
  background-color: rgb(255, 0, 0, 0.6);
  display: grid;
  place-content: center;
}

.nameTag_back {
  background-color: grey;
  transform: rotateY(180deg);
  padding: 1rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  display: grid;
  place-content: center;
}

.nameTag_back p {
  font-size: 1.1rem;
}

/* 全台最古老的城隍廟 */
.sec04 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-attachment: fixed;
}
/* 主視覺 */
.theFlyingTigerHeader {
  display: flex;
  gap: 1%;
  align-items: center;
  padding-bottom: 2rem;
  position: relative;
}
.theFlyingTigerHeader img {
  width: 100%;
}
.middlePanel {
  flex: 0 0 10%;
}
.theOldestTempleText {
  max-height: 90vh;
  object-fit: contain;
}

.topList_text {
  position: absolute;
  width: 40vw;
  bottom: 5%;
  right: 2%;
  padding: 1rem;
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: 0rem 0.5rem 0.5rem black;
}
/* top 10 清單 */
.theFlyingTigerBody {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* 各廟資料 */
.topListSet {
  display: flex;
  flex-direction: column;
  border-top: black solid 0.5rem;
  border-radius: 1rem;
}
.topListSet img {
  width: 100%;
  border-radius: 0.5rem;
  filter: grayscale(0.8);
}

.topListSet img:hover {
  filter: grayscale(0);
}

.title {
  padding-top: 1rem;
}

.description {
  padding-top: 0.5rem;
}

.info_source {
  padding-top: 0.5rem;
}

/* 城隍爺閱讀筆記 */
.sec05 {
  width: 100%;
  /* height: 100vh; */
  background-image: url(../../src/img/city_god_bk.jpg);
  background-position: center;
  box-shadow: -0.2rem 0.5rem 1rem black;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 5rem 2rem 2rem 2rem;
  place-content: center;
}

.cityGodFigure {
  padding: 1rem;
  width: 90%;
  align-self: flex-end;
}
.readingNotesText {
  padding: 3rem 3rem 1rem 0;
  width: 100%;
}

.cityGod_Book {
  width: 15vw;
  float: right;
  padding: 1rem 1rem 1rem 2rem;
  filter: drop-shadow(0rem 0.5rem 0.5rem black);
}

/* 世界的城隍爺 aroundTheWorld */
.sec06 {
  background-image: url(../../src/img/city_god_twoColor_bk_2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 99;
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: relative;
}

.world_cityGod_text {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 20vw;
  padding: 1rem;
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: 0rem 0.5rem 0.5rem black;
}

.worldCityGodSet {
  width: 100%;
}
.aroundTheWorldTitleImg {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
.worldCityGodImg {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
  border-top: 0.5rem solid black;
}

.cityGod_too_Img {
  padding: 1rem;
  width: 100%;
}
/* 也是城隍爺 grid 排列 */
.aroundTheWorld_parent {
  /* padding-top: 2rem; */
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.worldCityGodText h2 {
  padding-top: 1rem;
}
.worldCityGodText p {
  padding-top: 0.5rem;
}

.aroundTheWorld_div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.aroundTheWorld_div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.aroundTheWorld_div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.aroundTheWorld_div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.aroundTheWorld_div5 {
  grid-area: 1 / 2 / 5 / 3;
}
.aroundTheWorld_div6 {
  grid-area: 1 / 3 / 2 / 4;
}
.aroundTheWorld_div7 {
  grid-area: 2 / 3 / 3 / 4;
}
.aroundTheWorld_div8 {
  grid-area: 3 / 3 / 4 / 4;
}
.aroundTheWorld_div9 {
  grid-area: 4 / 3 / 5 / 4;
}
.aroundTheWorld_div10 {
  grid-area: 4 / 3 / 5 / 4;
}

/* 商品區 */
.sec08 {
  background-image: url(../../src/img/city_god_promo_bk_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  z-index: 9;
  box-shadow: -0.2rem 0.5rem 1rem black;

  position: relative;
}
.promoTitle {
  padding-top: 5rem;
  position: sticky;
  height: 70vh;
  top: 4rem;
  left: 8%;
}
.promoGroup {
  width: 50%;
  margin: auto 2rem auto auto;
  padding-top: 5rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.promoSec {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(128, 128, 128, 0.9);
  border-radius: 1rem;
}
.promoSecHeader {
  display: flex;
  align-items: baseline;
  padding-bottom: 1rem;
}
.bookGroup {
  display: flex;
  gap: 1rem;
}
.bookSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bookImg {
  display: block;
  margin: auto;
  width: 80%;
  object-fit: cover;
}

.bookImg:hover {
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgb(0, 0, 0, 0.7));
  object-fit: contain;
}

.bookText {
  padding-top: 1rem;
  width: 90%;
}
